NiFi/plantilla_gasteiz_te_escucha.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>f87df0a3-015b-1000-0ebb-b0f3d19e1ce8</groupId>
  <name>plantilla_gasteiz_te_escucha</name>
  <snippet>
    <connections>
      <id>b80540c7-d29b-3144-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>84efd0d2-fdbd-37ba-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>981a191e-5707-3093-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b8ea78cb-d504-330a-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>45980751-42b3-3842-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>tweet</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>98bf5aa4-5528-3cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c548fab8-e701-31df-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>43078714-521d-38da-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>4dae4738-9259-3140-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c9b3bc4c-0039-3513-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>6162d775-f555-34d7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>84efd0d2-fdbd-37ba-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1c7132b1-9552-3115-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>c30b9ef4-e618-3fc5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>95bab799-0b66-3fc7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2469e7bf-155e-39a3-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>98bf5aa4-5528-3cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>6162d775-f555-34d7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2b22181a-1501-3ff0-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>74f8b66e-6b8f-3a25-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>c30b9ef4-e618-3fc5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3457ff61-e416-307a-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>76e3ea69-576f-3a53-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>8d3583be-3c5f-3c57-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>347ecffe-e016-350b-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>bce90483-cc7f-3652-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>61024d6e-76e8-3039-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>44ded129-5a31-35f0-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>93644ada-2c9c-3cfc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>74f8b66e-6b8f-3a25-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>49cff96c-68ed-3bad-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>c36562f9-36a3-3e86-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>f7412c96-329d-334c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>568e9f76-c5db-347b-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>fcf2a632-32b2-3aa2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>ea07456f-4e0b-3e57-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5d06518c-508c-3d03-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>4495ce82-e135-3368-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>c36562f9-36a3-3e86-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>712a9bcf-6f93-3409-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>4dae4738-9259-3140-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>tweet</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>98bf5aa4-5528-3cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7b6447cc-0c74-3aaa-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>53268e2a-07c8-32e2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>44b47646-fc21-3030-0000-000000000000</groupId>
        <id>93644ada-2c9c-3cfc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <labels>
      <id>a4e1dc19-1816-3367-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1.55889892578125</x>
        <y>888.2094421386718</y>
      </position>
      <height>321.79815673828125</height>
      <label>Recoger el tiempo de
Vitoria-Gasteiz y 
volcarlo a MongoDB
(cada 12 horas)</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>16px</value>
        </entry>
      </style>
      <width>704.5092163085938</width>
    </labels>
    <labels>
      <id>d4459e9e-3afc-3868-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>0.60443115234375</x>
        <y>0.0</y>
      </position>
      <height>537.6802978515625</height>
      <label>Recoge tweets filtrados por idioma
y palabras de vitoria. Luego se trata
la Flowfile y se inserta los tweets
en bruto a MongoDB y los tweets
limpios a Kafka.
Se vuelven a recoger por Kafka ya
clasificados y se insertan en
MongoDB.</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#b1e3a6</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>16px</value>
        </entry>
      </style>
      <width>711.851318359375</width>
    </labels>
    <labels>
      <id>4997e7d3-c053-34b0-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>540.3123016357422</y>
      </position>
      <height>347.4045715332031</height>
      <label>Recoger tráfico de Vitoria-Gasteiz 
y volvarlo a MongoDB
(cada 5 min)</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#e6bf9f</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>16px</value>
        </entry>
      </style>
      <width>710.89306640625</width>
    </labels>
    <processors>
      <id>84efd0d2-fdbd-37ba-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>270.1777422458281</x>
        <y>205.01619783043782</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>ERROR</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>ciudad</key>
            <value>
              <name>ciudad</name>
            </value>
          </entry>
          <entry>
            <key>hashtags</key>
            <value>
              <name>hashtags</name>
            </value>
          </entry>
          <entry>
            <key>idioma</key>
            <value>
              <name>idioma</name>
            </value>
          </entry>
          <entry>
            <key>nombre_usuario</key>
            <value>
              <name>nombre_usuario</name>
            </value>
          </entry>
          <entry>
            <key>texto</key>
            <value>
              <name>texto</name>
            </value>
          </entry>
          <entry>
            <key>timestamp</key>
            <value>
              <name>timestamp</name>
            </value>
          </entry>
          <entry>
            <key>twitter.time</key>
            <value>
              <name>twitter.time</name>
            </value>
          </entry>
          <entry>
            <key>usuario</key>
            <value>
              <name>usuario</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>ciudad</key>
            <value>$.place.place_type</value>
          </entry>
          <entry>
            <key>hashtags</key>
            <value>$.entities.hashtags[0].text</value>
          </entry>
          <entry>
            <key>idioma</key>
            <value>$.lang</value>
          </entry>
          <entry>
            <key>nombre_usuario</key>
            <value>$.user.name</value>
          </entry>
          <entry>
            <key>texto</key>
            <value>$.text</value>
          </entry>
          <entry>
            <key>timestamp</key>
            <value>$.timestamp_ms</value>
          </entry>
          <entry>
            <key>twitter.time</key>
            <value>$.created_at</value>
          </entry>
          <entry>
            <key>usuario</key>
            <value>$.user.screen_name</value>
          </entry>
        </properties>
        <runDurationMillis>25</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Cambiar nombres a los Atributos</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>8d3583be-3c5f-3c57-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1784.4096980197858</x>
        <y>20.365157957133732</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-8-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>ZooKeeper Connection String</key>
            <value>
              <name>ZooKeeper Connection String</name>
            </value>
          </entry>
          <entry>
            <key>Topic Name</key>
            <value>
              <name>Topic Name</name>
            </value>
          </entry>
          <entry>
            <key>Zookeeper Commit Frequency</key>
            <value>
              <name>Zookeeper Commit Frequency</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Message Demarcator</key>
            <value>
              <name>Message Demarcator</name>
            </value>
          </entry>
          <entry>
            <key>Client Name</key>
            <value>
              <name>Client Name</name>
            </value>
          </entry>
          <entry>
            <key>Group ID</key>
            <value>
              <name>Group ID</name>
            </value>
          </entry>
          <entry>
            <key>Kafka Communications Timeout</key>
            <value>
              <name>Kafka Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>ZooKeeper Communications Timeout</key>
            <value>
              <name>ZooKeeper Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Auto Offset Reset</key>
            <value>
              <name>Auto Offset Reset</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>ZooKeeper Connection String</key>
            <value>sandbox.hortonworks.com:2181</value>
          </entry>
          <entry>
            <key>Topic Name</key>
            <value>spark.out</value>
          </entry>
          <entry>
            <key>Zookeeper Commit Frequency</key>
            <value>60 secs</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Message Demarcator</key>
            <value>\n</value>
          </entry>
          <entry>
            <key>Client Name</key>
            <value>NiFi-0bb66c15-015c-1000-23b3-a390bafd1454</value>
          </entry>
          <entry>
            <key>Group ID</key>
            <value>0bb66c15-015c-1000-23b3-a390bafd1454</value>
          </entry>
          <entry>
            <key>Kafka Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>ZooKeeper Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Auto Offset Reset</key>
            <value>largest</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetKafka</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#d6b058</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.kafka.GetKafka</type>
    </processors>
    <processors>
      <id>93644ada-2c9c-3cfc-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>841.2955127788748</x>
        <y>551.6297159440666</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>insertarFecha</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${now()}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>95bab799-0b66-3fc7-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>270.1777422458281</x>
        <y>551.6297159440666</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>
              <name>Filename</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
            <value>
              <name>Accept Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>
              <name>redirect-cookie-policy</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://www.vitoria-gasteiz.org/c11-03w/NivelesServicio</value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>traffic.json</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>40 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>40 sec</value>
          </entry>
          <entry>
            <key>User Agent</key>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>false</value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>default</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>300 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>20 sec</yieldDuration>
      </config>
      <name>GetHTTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#8407de</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.GetHTTP</type>
    </processors>
    <processors>
      <id>981a191e-5707-3093-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>270.3730547458281</x>
        <y>20.365157957133732</y>
      </position>
      <bundle>
        <artifact>nifi-social-media-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Twitter Endpoint</key>
            <value>
              <name>Twitter Endpoint</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>
              <name>Consumer Key</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
            <value>
              <name>Consumer Secret</name>
            </value>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>
              <name>Access Token</name>
            </value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
            <value>
              <name>Access Token Secret</name>
            </value>
          </entry>
          <entry>
            <key>Languages</key>
            <value>
              <name>Languages</name>
            </value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
            <value>
              <name>Terms to Filter On</name>
            </value>
          </entry>
          <entry>
            <key>IDs to Follow</key>
            <value>
              <name>IDs to Follow</name>
            </value>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
            <value>
              <name>Locations to Filter On</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Twitter Endpoint</key>
            <value>Filter Endpoint</value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>BrVhe4k8pENjacAcJXzAg</value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>81855295-JdLxK2F2S9Uveho5FkAj3eW3TsbYzMZTfTJ01Vh5m</value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
          </entry>
          <entry>
            <key>Languages</key>
            <value>es</value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
            <value>vitoria,vitoria-gasteiz,vitoriagasteiz,gasteiz</value>
          </entry>
          <entry>
            <key>IDs to Follow</key>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetTwitter</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#49def5</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.twitter.GetTwitter</type>
    </processors>
    <processors>
      <id>98bf5aa4-5528-3cd3-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>841.2955127788748</x>
        <y>390.9553133037298</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>tweet</key>
            <value>
              <name>tweet</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>tweet</key>
            <value>${texto:isEmpty():not():and(${texto:contains("accesibilidad"):or(${texto:contains("accidente")}):or(${texto:contains("alcantarilla")}):or(${texto:contains("anillo verde")}):or(${texto:contains("aparcabicis")}):or(${texto:contains("asco")}):or(${texto:contains("ataque")}):or(${texto:contains("atasco")}):or(${texto:contains("autobus")}):or(${texto:contains("basura")}):or(${texto:contains("basureros")}):or(${texto:contains("bicis")}):or(${texto:contains("bus")}):or(${texto:contains("calles")}):or(${texto:contains("ciclista")}):or(${texto:contains("contaminacion")}):or(${texto:contains("contenedor")}):or(${texto:contains("green")}):or(${texto:contains("jardines")}):or(${texto:contains("limpieza")}):or(${texto:contains("medio ambiente")}):or(${texto:contains("olor")}):or(${texto:contains("palomas")}):or(${texto:contains("papeleras")}):or(${texto:contains("pintadas")}):or(${texto:contains("violencia")}):or(${texto:contains("ruido")}):or(${texto:contains("pelea")}):or(${texto:contains("rata")}):or(${texto:contains("reciclaje")}):or(${texto:contains("reciclar")}):or(${texto:contains("rentas")}):or(${texto:contains("problema")}):or(${texto:contains("robo")}):or(${texto:contains("rotonda")}):or(${texto:contains("suciedad")}):or(${texto:contains("sucio")}):or(${texto:contains("trafico")}):or(${texto:contains("tranvia")}):or(${texto:contains("basura")})})}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Filtro palabras clave</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>tweet</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>bce90483-cc7f-3652-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>841.2955127788748</x>
        <y>904.5383882261455</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>./tiempo/</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ff0000</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>c30b9ef4-e618-3fc5-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>270.1777422458281</x>
        <y>745.710692761388</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>[</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>{"fecha":"insertarFecha","vitoria":[</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Literal Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>c36562f9-36a3-3e86-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>841.2955127788748</x>
        <y>1059.7117280698953</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback
 
class ModJSON(StreamCallback):
  def __init__(self):
        pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    obj = json.loads(text)
    newObj = {
          "tiempo":{
                "_id_fecha":obj['city']['forecast']['issueDate'],
	  	"ciudad": obj['city']['cityName'],
	  	"cityLatitude": obj['city']['cityLatitude'],
	  	"cityLongitude": obj['city']['cityLongitude'],
         	"prediccion": obj['city']['forecast']
           }
        }
    outputStream.write(bytearray(json.dumps(newObj, indent=4).encode('utf-8')))
 
flowFile = session.get()
if (flowFile != None):
  flowFile = session.write(flowFile, ModJSON())
  flowFile = session.putAttribute(flowFile, "filename", flowFile.getAttribute('filename').split('.')[0]+'_translated.json')
session.transfer(flowFile, REL_SUCCESS)
session.commit()</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Descartar columnas</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>ea07456f-4e0b-3e57-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1784.4096980197858</x>
        <y>551.6297159440666</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>./trafico/</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>traffic.json</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#0011ff</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>f7412c96-329d-334c-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>272.0850409335883</x>
        <y>1059.7117280698953</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>./tiempo/</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>tiempo.json</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#0011ff</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>fcf2a632-32b2-3aa2-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1784.4096980197858</x>
        <y>745.710692761388</y>
      </position>
      <bundle>
        <artifact>nifi-mongodb-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Mongo URI</key>
            <value>
              <name>Mongo URI</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>
              <name>Mongo Database Name</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>
              <name>Mongo Collection Name</name>
            </value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl-context-service</name>
            </value>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>
              <name>ssl-client-auth</name>
            </value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>
              <name>Upsert</name>
            </value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>
              <name>Update Query Key</name>
            </value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>
              <name>Write Concern</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Mongo URI</key>
            <value>mongodb://127.0.0.1:8993</value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>proyecto_bigdata</value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>trafico</value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>REQUIRED</value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>insert</value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>_id</value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>ACKNOWLEDGED</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutMongo</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#12fa0a</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.mongodb.PutMongo</type>
    </processors>
    <processors>
      <id>43078714-521d-38da-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1409.4951267392692</x>
        <y>21.964889402446232</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-8-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Known Brokers</key>
            <value>
              <name>Known Brokers</name>
            </value>
          </entry>
          <entry>
            <key>Topic Name</key>
            <value>
              <name>Topic Name</name>
            </value>
          </entry>
          <entry>
            <key>Partition</key>
            <value>
              <name>Partition</name>
            </value>
          </entry>
          <entry>
            <key>Kafka Key</key>
            <value>
              <name>Kafka Key</name>
            </value>
          </entry>
          <entry>
            <key>Delivery Guarantee</key>
            <value>
              <name>Delivery Guarantee</name>
            </value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>
              <name>Message Delimiter</name>
            </value>
          </entry>
          <entry>
            <key>Max Buffer Size</key>
            <value>
              <name>Max Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Record Size</key>
            <value>
              <name>Max Record Size</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Async Batch Size</key>
            <value>
              <name>Async Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Queue Buffering Max Time</key>
            <value>
              <name>Queue Buffering Max Time</name>
            </value>
          </entry>
          <entry>
            <key>Compression Codec</key>
            <value>
              <name>Compression Codec</name>
            </value>
          </entry>
          <entry>
            <key>Client Name</key>
            <value>
              <name>Client Name</name>
            </value>
          </entry>
          <entry>
            <key>Partition Strategy</key>
            <value>
              <name>Partition Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Known Brokers</key>
            <value>sandbox.hortonworks.com:6667</value>
          </entry>
          <entry>
            <key>Topic Name</key>
            <value>inter_transact</value>
          </entry>
          <entry>
            <key>Partition</key>
          </entry>
          <entry>
            <key>Kafka Key</key>
          </entry>
          <entry>
            <key>Delivery Guarantee</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
          </entry>
          <entry>
            <key>Max Buffer Size</key>
            <value>5 MB</value>
          </entry>
          <entry>
            <key>Max Record Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Async Batch Size</key>
            <value>200</value>
          </entry>
          <entry>
            <key>Queue Buffering Max Time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>Compression Codec</key>
            <value>none</value>
          </entry>
          <entry>
            <key>Client Name</key>
            <value>NiFi-27fc50b4-3044-4b8f-8384-4c58e9ffbe11</value>
          </entry>
          <entry>
            <key>Partition Strategy</key>
            <value>Round Robin</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Insertar en Kafka</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#734d06</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.kafka.PutKafka</type>
    </processors>
    <processors>
      <id>4495ce82-e135-3368-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1410.5287673599962</x>
        <y>1059.7117280698953</y>
      </position>
      <bundle>
        <artifact>nifi-mongodb-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Mongo URI</key>
            <value>
              <name>Mongo URI</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>
              <name>Mongo Database Name</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>
              <name>Mongo Collection Name</name>
            </value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl-context-service</name>
            </value>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>
              <name>ssl-client-auth</name>
            </value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>
              <name>Upsert</name>
            </value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>
              <name>Update Query Key</name>
            </value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>
              <name>Write Concern</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Mongo URI</key>
            <value>mongodb://127.0.0.1:8993</value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>proyecto_bigdata</value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>tiempo</value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>REQUIRED</value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>insert</value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>_id</value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>ACKNOWLEDGED</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutMongo</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#12fa0a</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.mongodb.PutMongo</type>
    </processors>
    <processors>
      <id>45980751-42b3-3842-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1410.5287673599962</x>
        <y>390.9553133037298</y>
      </position>
      <bundle>
        <artifact>nifi-mongodb-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Mongo URI</key>
            <value>
              <name>Mongo URI</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>
              <name>Mongo Database Name</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>
              <name>Mongo Collection Name</name>
            </value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl-context-service</name>
            </value>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>
              <name>ssl-client-auth</name>
            </value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>
              <name>Upsert</name>
            </value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>
              <name>Update Query Key</name>
            </value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>
              <name>Write Concern</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Mongo URI</key>
            <value>mongodb://localhost:8993</value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>proyecto_bigdata</value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>tweets_bruto</value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>REQUIRED</value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>insert</value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>_id</value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>ACKNOWLEDGED</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>insertar tweet en bruto en mongodb</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#32fa00</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.mongodb.PutMongo</type>
    </processors>
    <processors>
      <id>4dae4738-9259-3140-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>839.1938892437183</x>
        <y>20.365157957133732</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback
 
class ModJSON(StreamCallback):
  def __init__(self):
        pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    obj = json.loads(text)
    newObj = {
          "ID": obj['id_str'],
	  "texto": obj['text'],
	  "barrio":"Vitoria",
        }
    outputStream.write(bytearray(json.dumps(newObj, indent=4).encode('utf-8')))
 
flowFile = session.get()
if (flowFile != None):
  flowFile = session.write(flowFile, ModJSON())
  flowFile = session.putAttribute(flowFile, "filename", flowFile.getAttribute('filename').split('.')[0]+'_translated.json')
session.transfer(flowFile, REL_SUCCESS)
session.commit()</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Descartar columnas</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>53268e2a-07c8-32e2-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1410.5287673599962</x>
        <y>551.6297159440666</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>./trafico/</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ff0000</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>61024d6e-76e8-3039-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>273.2659990817656</x>
        <y>902.9387788511455</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>
              <name>Filename</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
            <value>
              <name>Accept Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>
              <name>redirect-cookie-policy</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://worldweather.wmo.int/es/json/1792_es.xml</value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>tiempo.json</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>User Agent</key>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>false</value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>default</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>43200 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetHTTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetHTTP</type>
    </processors>
    <processors>
      <id>6162d775-f555-34d7-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>270.1778643161406</x>
        <y>390.9553133037298</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>"created_at"</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>"barrio":"","created_at"</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>74f8b66e-6b8f-3a25-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>841.2955127788748</x>
        <y>745.710692761388</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>]</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>]}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Literal Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>76e3ea69-576f-3a53-0000-000000000000</id>
      <parentGroupId>44b47646-fc21-3030-0000-000000000000</parentGroupId>
      <position>
        <x>1784.4098200900983</x>
        <y>390.9553133037298</y>
      </position>
      <bundle>
        <artifact>nifi-mongodb-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Mongo URI</key>
            <value>
              <name>Mongo URI</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>
              <name>Mongo Database Name</name>
            </value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>
              <name>Mongo Collection Name</name>
            </value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl-context-service</name>
            </value>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>
              <name>ssl-client-auth</name>
            </value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>
              <name>Upsert</name>
            </value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>
              <name>Update Query Key</name>
            </value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>
              <name>Write Concern</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Mongo URI</key>
            <value>mongodb://localhost:8993</value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>proyecto_bigdata</value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>tweets_clasificados</value>
          </entry>
          <entry>
            <key>ssl-context-service</key>
          </entry>
          <entry>
            <key>ssl-client-auth</key>
            <value>REQUIRED</value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>insert</value>
          </entry>
          <entry>
            <key>Upsert</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Update Query Key</key>
            <value>_id</value>
          </entry>
          <entry>
            <key>Write Concern</key>
            <value>ACKNOWLEDGED</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>insertar tweet clasificado en mongodb</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#32fa00</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.mongodb.PutMongo</type>
    </processors>
  </snippet>
  <timestamp>05/18/2017 09:54:30 CEST</timestamp>
</template>